html,body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.hidden {
    display: none;
}

.header {
    padding: 24px;
    background-color: rebeccapurple;
    color: white;
    font-size: 36px;
    font-weight: bolder;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addBook {
    height: 48px;
    width: 192px;
    background-color: gold;
    border-radius: 24px;
    font-size: 24px;
    font-weight: bold;
}

#container {
    height: 360px;
    width: 420px;

    background-color: rebeccapurple;
    border-radius: 18px;
    color: white;

    position: fixed;
    top: calc(50vh - 180px);
    left: calc(50vw - 210px);
}

form {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.submitBtn {
    height: 60px;
    width: 420px;
    background-color: gold;
    border-end-end-radius: 18px;
    border-end-start-radius: 18px;
    font-size: 22px;
    font-weight: bold;
}

.content {
    background-color: rgb(35, 35, 45);
    height: 100%;
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(3, 240px);
    gap: 48px;
}

.card {
    height: 240px;
    width: 240px;
    background-color: white;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardInfo {
    margin: 24px;
}

.cardOptions {
    display: flex;
    height: 48px;
}

.toggleReadBtn {
    background-color: #16a34a;
    border-bottom-left-radius: 12px;
}

.deleteBtn {
    background-color: #e11d48;
    border-bottom-right-radius: 12px;
}

.toggleReadBtn,
.deleteBtn {
    flex-grow: 1;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}